@import url(//db.onlinewebfonts.com/c/2ab02c2937018ee7f2ccc346929ccf57?family=Artifakt+Element);

body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100% 100%;
  font-family: 'Open Sans', sans-serif;
}
#viewer {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media only screen and (max-width: 768px) {

  #panel-left {
      position: relative;
      padding: 24px;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      overflow: scroll;
      overflow-x: hidden;
      scroll-behavior: smooth;
  }

  #viewer {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
  }
}

.logo {
  position: fixed;
  z-index: 1000;
  width: 10%;
  top: 5;
  left: 5;
}



p {
  font-weight: bold;
  }
  
  
  #sidebar {
      padding: 10px;
  }