body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 17.5% 50.5% 32%;
  grid-template-rows: 100%;
}

#info {
  padding: 10px;
  padding-right: 10px;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: scroll;
  overflow-x: hidden;
}

#viewer {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media only screen and (max-width: 768px) {
  #viewer {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #info{
    padding-left: 2rem;
    position: relative;
    grid-column: 2/4;
    grid-row: 2/4;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  #info td, tr{
    font-size: 13px;
  }
  #info h2{
    font-weight: 900;
    font-size: 1.2rem;
  }
  #info h1{
    font-size: 1.9rem;
  }
  #info p{
    font-size: 14px;
  }
  #info img{
    width: 50%;
  }

  #left{
    position: relative;
    left: -20px;
  }
  #left #authorizationLink{
    margin-left: 20px;
  }
  #left li a, span{
    font-size: 13px;
    

  }
 
  #left .tree{
    border: none;
  }
  #left .rotation::before{
    display: block;
    position: absolute;
    font-size: 0;
    content: '';
    height: 0.3125rem;
    width: 0.3125rem;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #1d1d1d;
    top: 3.5%;
    left: -15.5%;
    margin-left: -1rem;
    margin-top: -0.1625rem;
    transform: rotate(-45deg);
  }

  .icon img{
    display: none;
  }
  .tree li .node-toggle{
    position: absolute;
    left: 0;
  }
  #authorizationLink{
    font-size: 1.4rem;
  }
  .print-doc{
    display: none;
  }
}

h3{
  font-weight: 900;
  font-size: 1.8rem;
}

#partDescr p {
  font-weight: 700;
}

#sidebar {
  padding: 10px;
}

#info img {
  display: block;
  margin: 0 auto;
}
/* #info h2{
  font-size: 1.5rem;
} */

.annotation {
  position: absolute;
  z-index: 1;
  padding: 8px;
  color: #fff;
  border-radius: 0.5em;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

td a{
  font-weight: 700;
  color: black;
}
td p{
  font-weight: 400;
}

.toolsTable img{
  max-width:120px;
}
h5{
  font-weight: 400;
}
#info li{
  font-weight: 400;
  list-style-type: circle;
}
#authorizationLink:hover{
  /* opacity: 0.8; */
  background: rgba(0,0,0,.1);
}

h1{
  font-size: 2.2rem;
}
.btn-dark{
  margin-bottom: 1rem;
}

#info h2{
  font-size: 1.5rem;
}