.multi-level{
  margin-top: 2rem;
}

.item ul, .item input[type="checkbox"] {
  display: none;
}
#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
}

/*Arrow*/

.arrow {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 17px 1em 0 2em;
}
.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.2s;
}
.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.2s;
}



/*Styles*/

label:hover {
  cursor: pointer;
}
label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
}




.item ul, .item li, label {
  line-height: 40px;
  margin: 0;
  /* padding: 0 2em; */
  padding: 0 1em;
  list-style: none;
  text-decoration: none;
  color: #90A4AE;
  font-weight: 100;
  width: 100%;
}
.item ul {
  /* padding: 0 0.25em; */
  /* padding: 0 0 0.25em; */
}
#maintainance li{
  padding-left: 0;
  list-style: circle;
  line-height: 25px;
  margin-left: 35px;
}
#repair li{
  padding-left: 0;
  list-style: circle;
  line-height: 25px;
  margin-left: 27px;
}
.item li a {
  line-height: 40px;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
  color: #90A4AE;
  font-weight: 100;
}

@media (max-width: 1200px){
  .item ul, .item li, label{
    font-size: 12px;
  }
}

@media (max-width: 768px){
  .multi-level{
    margin-top: 1rem;
  }
  .item ul, .item li, label{
    padding: 0 1em;
    font-size: 10px;
  }
}









