/* @media (max-width: 1200px){
  .item ul, .item li, label{
    font-size: 12px;
  }
}

@media (max-width: 768px){
  .multi-level{
    margin-top: 1rem;
  }
  .item ul, .item li, label{
    padding: 0 1em;
    font-size: 10px;
  }
}  */

.tree li .icon {
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 16px;
  left: -20px;
  top: 2px;
  line-height: 16px;
}
.tree li .icon img {
  max-width: 100%;
  height: 100%;
}

.tree li .node-toggle {
  position: absolute;
  left: -20px;
  top: 0;
  transform: translateX(-100%);
  width: 24px;
  height: 24px;
}
.tree li .node-toggle::before {
  display: block;
  position: absolute;
  font-size: 0;
  content: '';
  height: 0.3125rem;
  width: 0.3125rem;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #1d1d1d;
  top: 50%;
  left: 100%;
  margin-left: -1rem;
  margin-top: -0.1625rem;
  transform: rotate(-135deg);
}

.rotation::before{
  display: block;
  position: absolute;
  font-size: 0;
  content: '';
  height: 0.3125rem;
  width: 0.3125rem;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #1d1d1d;
  top: 7%;
  left: -5%;
  margin-left: -1rem;
  margin-top: -0.1625rem;
  transform: rotate(-45deg);
}

.tree li {
  list-style: none;
  display: block;
  position: relative;
  padding: 2px 0;
  cursor: pointer;
  line-height: 1.25rem;
}
.tree span {
  cursor: pointer;
  
}
.tree span:hover {
  font-weight: bold;
  color: #212529;
}

.tree {
  border: 1px solid #dfdfdf;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: -1rem;
}

.tree ul {
  list-style: none;
  display: block;
  position: relative;
  padding: 2px 0;
  cursor: pointer;
  line-height: 1.25rem;
  left: 20px;
}
.tree ul, li a {
  color: #212529;
}
.tree li a:hover {
  color: #212529;
  text-decoration: none;
  font-weight: bold;
}

/* .hide::before {
  content: '';
}
.show::before {
  content: '';
}  */
